rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /interviews/{interviewId} {
      allow read, write: if true;
    }
    match /interviewAppointments/{appointmentId} {
      allow read, write: if true;
    }
    match /appSettings/{docId} {
      allow read, write: if true;
    }
  }
}
